.card-receipe {
    width: 200px !important;
    height: 320px !important;
}

.card-img-top {
    width: 100% !important;
    height: 200px !important;
}

.title-link:hover {
    transform: scale(1.01) !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

.card-title {
    font-size: large;
}

.card-receipe-info {
    width: 450px !important;
    height: 560px !important;
}

.card-img-top-info {
    width: 100% !important;
    height: 200px !important;
}